/* 

My Color Pallet
https://coolors.co/242124-f5f5f5-6096ba-8f754f-ef3e36


black: #242124
white: whitesmoke / #F5F5F5
off-white: #F3F3F3
blue: #6096BA
light-blue: #7FAAC7
brown: #8F754F
red: #EF3E36

*/

/* Styles outside of the mock UI */

body { 
    background: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 25% 10% 25%
}

.title-area {
    color: #242124
}

/* Styles for the mock UI */

.viewport-window {
    background-color:whitesmoke;
    height: 400px;
    width: 750px;
}

/* Top bar styles */

.top-bar {
    width: 100%;
    height: 25px;
    background-color: #7FAAC7;
}

.top-bar-element {
    display: inline-block;
    margin: 0 auto;
    padding-left: 1%;
    height: 100%;
}

.top-bar-text {
    color: whitesmoke;
    font-size: 20px;
}

#real-time {
    width: 10%;
}

#current-profile {
    width: 15%
}

#temperature-display {
    background-color: #6096BA;
    width: 7%;
}

#pressure-display {
    background-color: #6096BA;
    width: 8%;
}

#spacer {
    width: 42%;
}

#spacer a {
    color: #7FAAC7
}

#elapsed-time {
    width: 6%
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #E0E0E0;
}

.progress-tracking {
    background-color: #EF3E36;
    height: 100%;
    width: 45%;
}

/* Shared Styles */

.generic-button {
    border-radius: 4px;
    border: none;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.25s;
}

.back-button {
    font-size: 1.5em;
    padding: 5px;
    margin: 10px 0px 0px 15px;
}

.page {
    height: 370px;
    width: 100%;
}

.page-hidden {
    display: none;
}

/* main page styles */

.slider-area {
    width: 45%;
    height: 370px; 
    /* background-color: #000; */
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    float: left;
}

.slider-column {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.slider-label {
    width: 90px;
    height: 90px;
    background-color: gainsboro;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-label label {
    font-size: 32px;
    /* color: #242124; */
    -moz-transition: color 1000ms ease;
    transition: color 1000ms ease;
}

.display-slider-values {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.apps-area {
    width: 50%;
    height: 370px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    padding: 10px;
    float: left;
}

.app-button {
    width: 150px;
    height: 100px;
    border-radius: 4px;
    margin-right: 30px;
    font-size: 48px;
}

.app-button:hover {
    box-shadow: 3px 3px 10px inset rgba(0, 0, 0, 0.3);
}

.blue{
    border-color: #6096BA;
    color: #6096BA;
}
 
.ltpurple {
    border-color: #90798e;
    color: #90798e;
}

.purple {
    border-color: #be5c63;
    color: #be5c63;

}

.pink {
    border-color: #ef3e36;
    color: #ef3e36;
}

/* Spray pattern select page */

.spray-pattern-display {
    width: 320px;
    height: 320px;
    float: left;
}

#spray-pattern-icon {
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.spray-select-container {
    height: 370px;
    float: right;
    width: 45%;
}

.spray-select-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.spray-select-button {
    background-color: transparent;
    border: 2px solid gainsboro;
    width: 80%;
    height: 2.5em;
    font-size: 16px;
}

.spray-select-button-active {
    background-color: gainsboro;
}

